In [26]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'SQLite3 ODBC Driver']

In [27]:

#Padr√£o Inicial:

import pyodbc

dados_conexao = ("Driver={SQLite3 ODBC Driver};"
                "Server=localhost;"
               "Database=chinook.db")
conexao = pyodbc.connect(dados_conexao)
cursor = conexao.cursor()

In [28]:
#cursor.execute('''COMANDO SQL''')
cursor.execute('''
INSERT INTO albums (Title,ArtistId) 
VALUES
('Chico Rock', 4)
''')
cursor.commit()

cursor.close()
conexao.close()