In [7]:
import re
novo_texto = 'Nome: Francisco Idade: 54 Salário: R$ 5.500,00'
padrao = re.compile(r'.+')
resultado = re.findall(padrao, novo_texto)
print(resultado)

['Nome: Francisco Idade: 54 Salário: R$ 5.500,00']

In [11]:
# Listar apenas nome, idade e salário:

novo_texto = 'Nome: Francisco Idade: 54 Salário: R$ 5.500,00'
padrao = re.compile(r'\w+:')
resultado = re.findall(padrao, novo_texto)
print(resultado)

['Nome:', 'Idade:', 'Salário:']

In [12]:
# Listar sem os dois pontos:

novo_texto = 'Nome: Francisco Idade: 54 Salário: R$ 5.500,00'
padrao = re.compile(r'(\w+):')
resultado = re.findall(padrao, novo_texto)
print(resultado)

['Nome', 'Idade', 'Salário']