In [16]:
import pandas as pd

tabela = pd.read_csv('eleicao_2024_Secoes_RJ.csv')
display(tabela)

     número da Zona,"Nome do local de votação","Município do local de votação","Bairro do local de votação","Endereço do local de votação","CEP do local de votação","Seções instaladas"
0     4,"FUNDAÇÃO GETÚLIO VARGAS","RIO DE JANEIRO","...
1     4,"COLÉGIO IMACULADA CONCEIÇÃO","RIO DE JANEIR...
2     4,"ESCOLA MUNICIPAL PRESIDENTE ARTHUR DA COSTA...
3     4,"ESCOLA DINAMIS","RIO DE JANEIRO","BOTAFOGO"...
4     4,"ESCOLA MÉXICO","RIO DE JANEIRO","BOTAFOGO",...
...                                                 ...
4940  256,"CIEP JOSÉ DE DOME - TANGARÁ","CABO FRIO",...
4941  256,"ESC. MUN. PROFª. AMÉLIA FERREIRA","CABO F...
4942  256,"ESCOLA MUNICIPAL PROFESSORA ANA PEREIRA G...
4943  256,"CENTRO EDUC. MUN. PROFª.  MARLI CAPP","CA...
4944  256,"ESC. MUN. PALMIRA BESSA DE FIGUEIREDO","C...

[4945 rows x 1 columns]

In [17]:
tabela = pd.read_excel('xlsx.xlsx')
display(tabela)

,Exported data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Listagem de Locais de Votação,NaN,NaN,NaN,NaN,NaN,NaN
1,número da Zona,Nome do local de votação,Município do local de votação,Bairro do local de votação,Endereço do local de votação,CEP do local de votação,Seções instaladas
2,4,FUNDAÇÃO GETÚLIO VARGAS,RIO DE JANEIRO,BOTAFOGO,PRAIA DE BOTAFOGO 186,22250040,"285, 286, 287, 288, 289, 290, 291, 292, 355, 3..."
3,4,COLÉGIO IMACULADA CONCEIÇÃO,RIO DE JANEIRO,BOTAFOGO,PRAIA DE BOTAFOGO 266,22250040,"297, 298, 299, 300, 301, 302, 303, 304, 305, 3..."
4,4,ESCOLA MUNICIPAL PRESIDENTE ARTHUR DA COSTA E ...,RIO DE JANEIRO,BOTAFOGO,RUA ASSUNCAO 257,22251030,"280, 281, 282, 283, 284"
...,...,...,...,...,...,...,...
4942,256,CIEP JOSÉ DE DOME - TANGARÁ,CABO FRIO,TANGARÁ,"RUA SANTA MARGARIDA, S/N",28900000,"104, 105, 106, 107, 108, 109, 110, 111, 112, 1..."
4943,256,ESC. MUN. PROFª. AMÉLIA FERREIRA,CABO FRIO,UNAMAR,"ROD. AMARAL PEIXOTO, KM 134",28926970,"126, 127, 128, 129, 130, 131, 132, 176, 213, 217"
4944,256,ESCOLA MUNICIPAL PROFESSORA ANA PEREIRA GONÇALVES,CABO FRIO,UNAMAR,"RUA DEZESSEIS, S/N",28926000,"235, 244, 248, 250, 253, 259, 266, 274, 279, 282"
4945,256,CENTRO EDUC. MUN. PROFª. MARLI CAPP,CABO FRIO,UNAMAR,"RUA E, 20 - QD 15",28926970,"133, 134, 135, 136, 137, 138, 139, 177, 180, 1..."
4946,256,ESC. MUN. PALMIRA BESSA DE FIGUEIREDO,CABO FRIO,UNAMAR,"RUA ONZE, QD 38, LOTES 9 E 10",28926000,"140, 141, 142, 143, 144, 145, 190, 202, 230, 2..."

In [18]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Exported data  4947 non-null   object
 1   Unnamed: 1     4946 non-null   object
 2   Unnamed: 2     4946 non-null   object
 3   Unnamed: 3     4946 non-null   object
 4   Unnamed: 4     4946 non-null   object
 5   Unnamed: 5     4946 non-null   object
 6   Unnamed: 6     4946 non-null   object
dtypes: object(7)
memory usage: 270.7+ KB

None

In [19]:
tabela_eleicao = tabela[['Unnamed: 2', 'Unnamed: 6']]
display(tabela_eleicao)

,Unnamed: 2,Unnamed: 6
0,NaN,NaN
1,Município do local de votação,Seções instaladas
2,RIO DE JANEIRO,"285, 286, 287, 288, 289, 290, 291, 292, 355, 3..."
3,RIO DE JANEIRO,"297, 298, 299, 300, 301, 302, 303, 304, 305, 3..."
4,RIO DE JANEIRO,"280, 281, 282, 283, 284"
...,...,...
4942,CABO FRIO,"104, 105, 106, 107, 108, 109, 110, 111, 112, 1..."
4943,CABO FRIO,"126, 127, 128, 129, 130, 131, 132, 176, 213, 217"
4944,CABO FRIO,"235, 244, 248, 250, 253, 259, 266, 274, 279, 282"
4945,CABO FRIO,"133, 134, 135, 136, 137, 138, 139, 177, 180, 1..."
4946,CABO FRIO,"140, 141, 142, 143, 144, 145, 190, 202, 230, 2..."

In [21]:
df.iloc[[0]]

NameError: name 'df' is not defined

In [1]:
a = b = []
a.append(1)
print(b)

[1]