In [7]:
import pandas as pd
tabela = pd.read_csv('exportacoes_franca.csv', encoding=False)
display(tabela)

C:\Users\fraro\AppData\Local\Temp\ipykernel_14712\1349182069.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
1,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
3,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
...,...,...,...,...,...,...,...,...,...,...,...
142355,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142357,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
142359,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045

Quantas linhas têm a tabela? Existe algum valor vazio que deveria ser tratado? Usar display com info().....

In [8]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142360 entries, 0 to 142359
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Year             142360 non-null  int64
 1   Month            142360 non-null  int64
 2   Country          142360 non-null  object
 3   City             142360 non-null  object
 4   SH4 Code         142360 non-null  int64
 5   SH4 Description  142360 non-null  object
 6   SH2 Code         142360 non-null  int64
 7   SH2 Description  142360 non-null  object
 8   Economic Block   142360 non-null  object
 9   US$ FOB          142360 non-null  int64
 10  Net Weight       142360 non-null  int64
dtypes: int64(6), object(5)
memory usage: 11.9+ MB

None

Como foi a evolução das exportações para a frança ao longo dos anos?
"Crie uma tabela com os anos de 2016, 2017, 2018, 2019 e 2020 e o valor US$ de exportações"

In [9]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']]
display(tabela_anos_exportacao)

        Year  US$ FOB
0       2016    79360
1       2016    79360
2       2016    69412
3       2016    69412
4       2016   180914
...      ...      ...
142355  2020     2316
142356  2020    27060
142357  2020    27060
142358  2020    31111
142359  2020    31111

[142360 rows x 2 columns]

In [10]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']].groupby('Year').sum()
display(tabela_anos_exportacao)
# Anos somados..............

         US$ FOB
Year
2016  4615500082
2017  4448705456
2018  5239424416
2019  5218723612
2020  3967594810

In [7]:
tabela_anos_exportacao = tabela.groupby('Year').sum()
display(tabela_anos_exportacao)

In [11]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']]
display(tabela_anos_exportacao)

        Year  US$ FOB
0       2016    79360
1       2016    79360
2       2016    69412
3       2016    69412
4       2016   180914
...      ...      ...
142355  2020     2316
142356  2020    27060
142357  2020    27060
142358  2020    31111
142359  2020    31111

[142360 rows x 2 columns]

In [12]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']].groupby('Year')
display(tabela_anos_exportacao)

In [13]:
tabela_anos_exportacao = tabela.groupby('Year').sum(numeric_only=True)
tabela_anos_exportacao = tabela_anos_exportacao[['US$ FOB']]

display(tabela_anos_exportacao)

         US$ FOB
Year
2016  4615500082
2017  4448705456
2018  5239424416
2019  5218723612
2020  3967594810

In [14]:
tabela_anos_exportacao = tabela.groupby('Year').sum(numeric_only=True)
tabela_anos_exportacao = tabela_anos_exportacao[['US$ FOB']]

def formatar(valor):
    valor_formatado = f'US$ {valor}'
    return valor_formatado
tabela_anos_exportacao['US$ FOB'] = tabela_anos_exportacao['US$ FOB'].apply(formatar)

display(tabela_anos_exportacao)

             US$ FOB
Year
2016  US$ 4615500082
2017  US$ 4448705456
2018  US$ 5239424416
2019  US$ 5218723612
2020  US$ 3967594810

In [15]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']]
# tabela_anos_exportacao['US$ FOB'] = tabela_anos_exportacao['US$ FOB'].apply(formatar)
display(tabela_anos_exportacao)

        Year  US$ FOB
0       2016    79360
1       2016    79360
2       2016    69412
3       2016    69412
4       2016   180914
...      ...      ...
142355  2020     2316
142356  2020    27060
142357  2020    27060
142358  2020    31111
142359  2020    31111

[142360 rows x 2 columns]

Quais os produtos mais exportados ao longo de todo o período?
"Queremos saber os produtos com maior valor US$ de exportação"

In [26]:
tabela_de_produtos_exportados = tabela[['SH2 Description', 'US$ FOB']].groupby('SH2 Description').sum()
    
tabela_de_produtos_exportados['US$ FOB'] = tabela_de_produtos_exportados['US$ FOB'].apply(formatar)

display(tabela_de_produtos_exportados)

                                                           US$ FOB
SH2 Description
Aircraft, spacecraft, and parts thereof             US$ 1253007710
Albuminoidal substances; modified starches; glu...    US$ 46508578
Aluminium and articles thereof                        US$ 15582762
Animal or vegetable fats and oils; Others             US$ 21158342
Arms and ammunition; parts and accessories thereof    US$ 44198684
...                                                            ...
Wadding, felt and nonwovens; others                   US$ 10021940
Wood and articles of wood; wood charcoal             US$ 833385980
Wool, fine or coarse animal hair; horsehair yar...        US$ 2540
Works of art, collectors' pieces and antiques        US$ 272134920
Zinc and articles thereof                                US$ 74382

[97 rows x 1 columns]

Em 2020 qual cidade mais exportou para a França? Em valores US$.............

In [21]:
tabela_2020 = tabela.loc[tabela['Year'] == 2020, :]
display(tabela_2020)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
8482,2020,1,France,Abaetetuba - PA,2008,"Fruit, nuts and other edible parts of plants, ...",20,"Preparations of vegetables, fruit, nuts or oth...",Europe,42609,16560
8483,2020,1,France,Abaetetuba - PA,2008,"Fruit, nuts and other edible parts of plants, ...",20,"Preparations of vegetables, fruit, nuts or oth...",European Union (EU),42609,16560
8484,2020,1,France,Aguaí - SP,804,"Dates, figs, pineapples, avocados, guavas, man...",8,Edible fruit and nuts; peel of citrus fruits o...,Europe,2861,1728
8485,2020,1,France,Aguaí - SP,804,"Dates, figs, pineapples, avocados, guavas, man...",8,Edible fruit and nuts; peel of citrus fruits o...,European Union (EU),2861,1728
8486,2020,1,France,Albertina - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,345513,151200
...,...,...,...,...,...,...,...,...,...,...,...
142355,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142357,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
142359,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045

In [23]:
tabela_2020 = tabela.loc[tabela['Year'] == 2020, :]
tabela_cidades_mais2020 = tabela_2020[['City', 'US$ FOB']].groupby('City').sum()
display(tabela_cidades_mais2020)

                         US$ FOB
City
Abaetetuba - PA            85218
Aguaí - SP                164956
Albertina - MG           3234406
Alfenas - MG            15569344
Alfredo Marcondes - SP      2510
...                          ...
Votuporanga - SP            5520
Várzea Paulista - SP      362516
Várzea da Palma - MG     1390450
Xapuri - AC              2043568
Álvares Machado - SP         800

[648 rows x 1 columns]

In [27]:

tabela_2020 = tabela.loc[tabela['Year'] == 2020, :]
tabela_cidades_mais2020 = tabela_2020[['City', 'US$ FOB']].groupby('City').sum()
tabela_cidades_mais2020 = tabela_cidades_mais2020.sort_values(by='US$ FOB',ascending=False)
tabela_cidades_mais2020['US$ FOB'] = tabela_cidades_mais2020['US$ FOB'].apply(formatar)
display(tabela_cidades_mais2020)

# apply é mais avançado que o for...........

                                   US$ FOB
City
Duque de Caxias - RJ         US$ 279405596
Luís Eduardo Magalhães - BA  US$ 265328132
Ponta Grossa - PR            US$ 187777016
São José dos Campos - SP     US$ 172939276
Rio de Janeiro - RJ          US$ 122522214
...                                    ...
Não-Me-Toque - RS                   US$ 42
Cubatão - SP                        US$ 40
Holambra - SP                       US$ 10
São Sebastião do Caí - RS            US$ 6
Quatro Pontes - PR                   US$ 0

[648 rows x 1 columns]

Quais os produtos mais exportados (em US$) que as 2 maiores cidades (em exportação em 2020) exportaram?

In [29]:
cidade = 'Duque de Caxias - RJ'
tabela_cidade = tabela_2020.loc[tabela_2020['City'] == cidade, :]
"tabela_produtos_cidade = tabela_cidade[[\"SH2 Description\", \"US$ FOB\"]].groupby(\"SH2 Description\").sum()\n",
    "tabela_produtos_cidade = tabela_produtos_cidade.sort_values(by=\"US$ FOB\", ascending=False)\n",
    "\n",
    "tabela_produtos_cidade[\"US$ FOB\"] = tabela_produtos_cidade[\"US$ FOB\"].apply(formatar)\n",
    "\n",
    "\n",
    "print(f\"Produtos mais exportados da cidade: {cidade}\")\n",
    "display(tabela_produtos_cidade)
display(tabela_cidade)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
8932,2020,1,France,Duque de Caxias - RJ,2304,"Soybean oilcake and other solid residue, wh/no...",23,Residues and waste from the food industries; o...,Europe,819219,2525259
8933,2020,1,France,Duque de Caxias - RJ,2304,"Soybean oilcake and other solid residue, wh/no...",23,Residues and waste from the food industries; o...,European Union (EU),819219,2525259
8934,2020,1,France,Duque de Caxias - RJ,3801,Artificial graphite; colloidal or semi-colloid...,38,Miscellaneous chemical products,Europe,494,0
8935,2020,1,France,Duque de Caxias - RJ,3801,Artificial graphite; colloidal or semi-colloid...,38,Miscellaneous chemical products,European Union (EU),494,0
8936,2020,1,France,Duque de Caxias - RJ,3920,"Other plates, sheets, film, foil and strip, of...",39,Plastics and articles thereof,Europe,301,0
...,...,...,...,...,...,...,...,...,...,...,...
139861,2020,12,France,Duque de Caxias - RJ,9030,"Oscilloscopes, spectrum analysers and other in...",90,"Optical, photographic, cinematographic instrum...",European Union (EU),11068,0
139862,2020,12,France,Duque de Caxias - RJ,9031,"Measuring or checking instruments, appliances ...",90,"Optical, photographic, cinematographic instrum...",Europe,24064,14
139863,2020,12,France,Duque de Caxias - RJ,9031,"Measuring or checking instruments, appliances ...",90,"Optical, photographic, cinematographic instrum...",European Union (EU),24064,14
139864,2020,12,France,Duque de Caxias - RJ,9032,Automatic regulating or controlling instrument...,90,"Optical, photographic, cinematographic instrum...",Europe,15480,6
139865,2020,12,France,Duque de Caxias - RJ,9032,Automatic regulating or controlling instrument...,90,"Optical, photographic, cinematographic instrum...",European Union (EU),15480,6

In [30]:
cidade = 'Duque de Caxias - RJ'
tabela_cidade = tabela_2020.loc[tabela_2020['City'] == cidade, :]
tabela_produtos_cidade = tabela_cidade[["SH2 Description", "US$ FOB"]].groupby("SH2 Description").sum()
tabela_produtos_cidade = tabela_produtos_cidade.sort_values(by="US$ FOB", ascending=False)
tabela_produtos_cidade["US$ FOB"] = tabela_produtos_cidade["US$ FOB"].apply(formatar)
   
print(f"Produtos mais exportados da cidade: {cidade}")
display(tabela_produtos_cidade)

Produtos mais exportados da cidade: Duque de Caxias - RJ

                                                          US$ FOB
SH2 Description
Nuclear reactors, boilers, machinery and mechan...  US$ 185816982
Mineral fuels, mineral oils, bituminous substan...   US$ 67355688
Articles of iron or steel                             US$ 9118714
Residues and waste from the food industries; ot...    US$ 4014274
Optical, photographic, cinematographic instrume...    US$ 3013092
Nickel and articles thereof                           US$ 2951286
Electrical machinery and equipment and parts th...    US$ 2595048
Lead and articles thereof                             US$ 1660180
Rubber and articles thereof                           US$ 1379296
Organic chemicals                                      US$ 535136
Vehicles other than railway or tramway rolling-...     US$ 353958
Plastics and articles thereof                          US$ 228638
Aluminium and articles thereof                         US$ 168522
Copper and articles thereof                            US$ 138466
Tools, implements, cutlery, spoons and forks, o...      US$ 33864
Articles of stone, plaster, cement, asbestos, m...      US$ 16856
Miscellaneous chemical products                         US$ 11984
Glass and glassware                                      US$ 8430
Railway or tramway locomotives, rolling-stock a...       US$ 3666
Paper and paperboard; articles of paper pulp, o...       US$ 1516