In [2]:
import pandas as pd
tabela = pd.read_csv('exportacoes_franca.csv', encoding=False)
display(tabela)

C:\Users\fraro\AppData\Local\Temp\ipykernel_17524\1349182069.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
1,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
3,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
...,...,...,...,...,...,...,...,...,...,...,...
142355,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142357,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
142359,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045

Quantas linhas têm a tabela? Existe algum valor vazio que deveria ser tratado? Usar display com info().....

In [3]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142360 entries, 0 to 142359
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Year             142360 non-null  int64
 1   Month            142360 non-null  int64
 2   Country          142360 non-null  object
 3   City             142360 non-null  object
 4   SH4 Code         142360 non-null  int64
 5   SH4 Description  142360 non-null  object
 6   SH2 Code         142360 non-null  int64
 7   SH2 Description  142360 non-null  object
 8   Economic Block   142360 non-null  object
 9   US$ FOB          142360 non-null  int64
 10  Net Weight       142360 non-null  int64
dtypes: int64(6), object(5)
memory usage: 11.9+ MB

None

Como foi a evolução das exportações para a frança ao longo dos anos?
"Crie uma tabela com os anos de 2016, 2017, 2018, 2019 e 2020 e o valor US$ de exportações"

In [4]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']]
display(tabela_anos_exportacao)

        Year  US$ FOB
0       2016    79360
1       2016    79360
2       2016    69412
3       2016    69412
4       2016   180914
...      ...      ...
142355  2020     2316
142356  2020    27060
142357  2020    27060
142358  2020    31111
142359  2020    31111

[142360 rows x 2 columns]

In [5]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']].groupby('Year').sum()
display(tabela_anos_exportacao)
# Anos somados..............

         US$ FOB
Year
2016  4615500082
2017  4448705456
2018  5239424416
2019  5218723612
2020  3967594810

In [6]:
tabela_anos_exportacao = tabela.groupby('Year').sum()
display(tabela_anos_exportacao)

,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
Year,,,,,,,,,,
2016,175210,FranceFranceFranceFranceFranceFranceFranceFran...,Águas Mornas - SCÁguas Mornas - SCÁguas Mornas...,169175582,"Fish, frozen, excluding fish fillets and other...",1686892,"Fish and crustaceans, molluscs and other aquat...",EuropeEuropean Union (EU)EuropeEuropean Union ...,4615500082,21798116518
2017,170098,FranceFranceFranceFranceFranceFranceFranceFran...,Albertina - MGAlbertina - MGAlfenas - MGAlfena...,166934928,"Coffee, whether or not roasted or decaffeinate...",1664620,"Coffee, tea, maté and spicesCoffee, tea, maté ...",EuropeEuropean Union (EU)EuropeEuropean Union ...,4448705456,22556529252
2018,185248,FranceFranceFranceFranceFranceFranceFranceFran...,Alfenas - MGAlfenas - MGAlta Floresta - MTAlta...,171427598,"Coffee, whether or not roasted or decaffeinate...",1709336,"Coffee, tea, maté and spicesCoffee, tea, maté ...",EuropeEuropean Union (EU)EuropeEuropean Union ...,5239424416,20905240132
2019,210812,FranceFranceFranceFranceFranceFranceFranceFran...,Alfenas - MGAlfenas - MGAlta Floresta - MTAlta...,198546658,"Coffee, whether or not roasted or decaffeinate...",1979926,"Coffee, tea, maté and spicesCoffee, tea, maté ...",EuropeEuropean Union (EU)EuropeEuropean Union ...,5218723612,16412415350
2020,197058,FranceFranceFranceFranceFranceFranceFranceFran...,Abaetetuba - PAAbaetetuba - PAAguaí - SPAguaí ...,172155036,"Fruit, nuts and other edible parts of plants, ...",1716784,"Preparations of vegetables, fruit, nuts or oth...",EuropeEuropean Union (EU)EuropeEuropean Union ...,3967594810,10868888048

In [7]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']]
display(tabela_anos_exportacao)

        Year  US$ FOB
0       2016    79360
1       2016    79360
2       2016    69412
3       2016    69412
4       2016   180914
...      ...      ...
142355  2020     2316
142356  2020    27060
142357  2020    27060
142358  2020    31111
142359  2020    31111

[142360 rows x 2 columns]

In [8]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']].groupby('Year')
display(tabela_anos_exportacao)

In [12]:
tabela_anos_exportacao = tabela.groupby('Year').sum(numeric_only=True)
tabela_anos_exportacao -= tabela_anos_exportacao[['US$ FOB']]

display(tabela_anos_exportacao)

      Month  SH4 Code  SH2 Code  US$ FOB  Net Weight
Year
2016    NaN       NaN       NaN        0         NaN
2017    NaN       NaN       NaN        0         NaN
2018    NaN       NaN       NaN        0         NaN
2019    NaN       NaN       NaN        0         NaN
2020    NaN       NaN       NaN        0         NaN

In [ ]:
tabela_anos_exportacao = tabela.groupby('Year').sum(numeric_only=True)
tabela_anos_exportacao -= tabela_anos_exportacao[['US$ FOB']]

In [10]:
tabela_anos_exportacao = tabela[['Year', 'US$ FOB']]
display(tabela_anos_exportacao)

        Year  US$ FOB
0       2016    79360
1       2016    79360
2       2016    69412
3       2016    69412
4       2016   180914
...      ...      ...
142355  2020     2316
142356  2020    27060
142357  2020    27060
142358  2020    31111
142359  2020    31111

[142360 rows x 2 columns]

Quais os produtos mais exportados ao longo de todo o período?
"Queremos saber os produtos com maior valor US$ de exportação"