Groupby agrupamdo dados no df:

In [14]:
import pandas as pd
import re
df = pd.read_csv('house.csv')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [17]:
df.groupby(['SellerG']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [20]:
df.groupby(['SellerG']).sum().sort_values('Price', ascending= False)

,Suburb,Address,Rooms,Type,Price,Method,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
SellerG,,,,,,,,,,,,
Jellis,AbbotsfordAirport WestAlphingtonArmadaleArmada...,49 Lithgow St4/32 Earl St41 Toolangi Rd2/23 As...,16948,hthuhhthhhhhhhhhtthhhthhuhtthhuuhuhhhuhuhhuuhu...,5.301902e+09,SSSSSSSSVBSPSPSPISSPSSSPSSVBSSSSPSSSSSSSSSSSVB...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,17116422,Northern MetropolitanWestern MetropolitanNorth...,42958979,47831.6,Yarra City CouncilMoonee Valley City CouncilDa...
Nelson,AbbotsfordAirport WestAirport WestBellfieldBru...,119B Yarra St92 Clydesdale Rd1/26 Highridge Cr...,13808,hhhuhhhhthhuhuhhhhhhhuhhhhuhhhhhhhuhhhhuhhhhhh...,4.089097e+09,SSSPSPPISSPSSSSSVBSPSSSSSSSPSSSSSSSSSSSSSPSSSS...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,14489179,Northern MetropolitanWestern MetropolitanWeste...,35455466,34410.5,Yarra City CouncilMoonee Valley City CouncilMo...
Barry,AberfeldieAirport WestAltona MeadowsAttwoodBla...,68 Vida St3/74 Hawker St57 Tatman Dr46 Threadn...,22919,huhhhthhthhhhhhhhhhhhhhhhhhhhhhhuhhhhhhthhhhtu...,4.022899e+09,SSSNSNSSSSSSSNSSSSSSPSSSSNSSNSSSSSSPSNSNSPIPIS...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,21405391,Western MetropolitanWestern MetropolitanWester...,54662639,108662.2,Moonee Valley City CouncilMoonee Valley City C...
Marshall,AbbotsfordArmadaleBalwynBlack RockBrightonBrig...,59A Turner St746 High St4 Lynch Ct11b Ardoyne ...,9437,hhhtthhhhhhhhhhhuhuhhhhhhtuttuhhuhhhhhhhhhuuhh...,3.337732e+09,SSPISSSPSSSPSPISVBSSSPSSSSPSSPSSPVBVBSSPPIPIPI...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,8949613,Northern MetropolitanSouthern MetropolitanSout...,22270034,20141.4,Yarra City CouncilStonnington City CouncilBoro...
hockingstuart,AlbanvaleArmadaleArmadaleAspendaleAvondale Hei...,1 Jackson Cct14/25 Kooyong Rd6/38 Wattletree R...,12635,huuhhhhhtththhhhuuhhhuuuthhhuuhhuhhhuuuhuhhuuh...,3.174822e+09,PIVBSSSPPIVBSVBPISSSSSPSSPISPISPISSSSSPVBSSSSS...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,13571171,Western MetropolitanSouthern MetropolitanSouth...,36291698,53918.3,Brimbank City CouncilStonnington City CouncilS...
...,...,...,...,...,...,...,...,...,...,...,...,...
Harcourts/YPA,Lalor,15 Cromwell Ct,3,h,0.000000e+00,PI,26/07/2016,3075,Northern Metropolitan,8279,16.3,Whittlesea City Council
Sahara,TarneitHoppers Crossing,96 Stanhope Rd24 Toulouse Cr,8,hh,0.000000e+00,PNW,21/04/201828/04/2018,6058,Western MetropolitanWestern Metropolitan,23990,36.8,Wyndham City CouncilWyndham City Council
Royston,PrahranPrahran,3/3 Anchor Pl413/31 Grattan St,3,uu,0.000000e+00,PNPN,15/07/201715/09/2018,6362,Southern MetropolitanSouthern Metropolitan,15434,9.2,Stonnington City CouncilStonnington City Council
Hill,KnoxfieldScoresby,77 Applewood Dr50 Borg Cr,7,hh,0.000000e+00,SPSP,3/02/201826/05/2018,6359,Eastern MetropolitanEastern Metropolitan,5155,45.5,Knox City CouncilKnox City Council
Living,Point Cook,5 Leadbeater St,4,h,0.000000e+00,PI,30/06/2018,3030,Western Metropolitan,15542,14.7,Wyndham City Council

In [21]:
df.groupby(['SellerG']).sum().sort_values('Price', ascending= False).head(10)
# Dez maiores vendedores............

,Suburb,Address,Rooms,Type,Price,Method,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
SellerG,,,,,,,,,,,,
Jellis,AbbotsfordAirport WestAlphingtonArmadaleArmada...,49 Lithgow St4/32 Earl St41 Toolangi Rd2/23 As...,16948,hthuhhthhhhhhhhhtthhhthhuhtthhuuhuhhhuhuhhuuhu...,5.301902e+09,SSSSSSSSVBSPSPSPISSPSSSPSSVBSSSSPSSSSSSSSSSSVB...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,17116422,Northern MetropolitanWestern MetropolitanNorth...,42958979,47831.6,Yarra City CouncilMoonee Valley City CouncilDa...
Nelson,AbbotsfordAirport WestAirport WestBellfieldBru...,119B Yarra St92 Clydesdale Rd1/26 Highridge Cr...,13808,hhhuhhhhthhuhuhhhhhhhuhhhhuhhhhhhhuhhhhuhhhhhh...,4.089097e+09,SSSPSPPISSPSSSSSVBSPSSSSSSSPSSSSSSSSSSSSSPSSSS...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,14489179,Northern MetropolitanWestern MetropolitanWeste...,35455466,34410.5,Yarra City CouncilMoonee Valley City CouncilMo...
Barry,AberfeldieAirport WestAltona MeadowsAttwoodBla...,68 Vida St3/74 Hawker St57 Tatman Dr46 Threadn...,22919,huhhhthhthhhhhhhhhhhhhhhhhhhhhhhuhhhhhhthhhhtu...,4.022899e+09,SSSNSNSSSSSSSNSSSSSSPSSSSNSSNSSSSSSPSNSNSPIPIS...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,21405391,Western MetropolitanWestern MetropolitanWester...,54662639,108662.2,Moonee Valley City CouncilMoonee Valley City C...
Marshall,AbbotsfordArmadaleBalwynBlack RockBrightonBrig...,59A Turner St746 High St4 Lynch Ct11b Ardoyne ...,9437,hhhtthhhhhhhhhhhuhuhhhhhhtuttuhhuhhhhhhhhhuuhh...,3.337732e+09,SSPISSSPSSSPSPISVBSSSPSSSSPSSPSSPVBVBSSPPIPIPI...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,8949613,Northern MetropolitanSouthern MetropolitanSout...,22270034,20141.4,Yarra City CouncilStonnington City CouncilBoro...
hockingstuart,AlbanvaleArmadaleArmadaleAspendaleAvondale Hei...,1 Jackson Cct14/25 Kooyong Rd6/38 Wattletree R...,12635,huuhhhhhtththhhhuuhhhuuuthhhuuhhuhhhuuuhuhhuuh...,3.174822e+09,PIVBSSSPPIVBSVBPISSSSSPSSPISPISPISSSSSPVBSSSSS...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,13571171,Western MetropolitanSouthern MetropolitanSouth...,36291698,53918.3,Brimbank City CouncilStonnington City CouncilS...
Buxton,BeaumarisBeaumarisBentleighBentleigh EastBlack...,500 Balcombe Rd2/58 Haydens Rd5 Mortimore St5A...,10707,huhthhuhhhhhhhthhuhhhthhttuuhhthhhhtutuhhhhhhh...,3.103258e+09,SPSSSPSVBSPSPISSSSSSSPIPISSPSSSSSSPISPSPIPISSS...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,10669223,Southern MetropolitanSouthern MetropolitanSout...,21365913,48190.6,Bayside City CouncilBayside City CouncilGlen E...
Ray,Ascot ValeAshwoodAspendale GardensBeaumarisBru...,8 The Grove43 Douglas St8 Mangrove Ct2/3 Hutch...,14961,hhhttuhuhhhtthhhhhhhhhhhuhthhhhhtuhuuhhhhhhhhh...,2.953669e+09,SSSVBSPISPSSSSSSSSSSPISSSPISSSSPISNSSSSSPISSPS...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,14329293,Western MetropolitanSouthern MetropolitanSouth...,41191735,76239.1,Moonee Valley City CouncilMonash City CouncilK...
Fletchers,AshburtonBalwynBalwyn NorthBalwyn NorthBalwyn ...,1/48 Karnak Rd104/29 Belgrove Av3 Abbott St12 ...,5402,uuhhhuhhthhhhhhhthhhhhhhhtuhhhhhhhhhhhhhuhhhhh...,1.384292e+09,SSPPISPPIPIPISSPSPSPPISSSPSSPSSSSAPISSPVBSSSSP...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,5039345,Southern MetropolitanSouthern MetropolitanSout...,10521475,21963.2,Boroondara City CouncilBoroondara City Council...
Biggin,BoroniaBrunswick WestCaulfield SouthCraigiebur...,15 Lorikeet Ct7/28 McLean St498 Kooyong Rd16 S...,4203,hhhhuthhhhuhhhtuhhuhuhhhthhhhuhthhhhhuuhhthhhu...,1.002292e+09,PNSSSPPISVBPNSPNPISPPISPIPIPISSPSSSPISPISPPIPI...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,4783284,Eastern MetropolitanNorthern MetropolitanSouth...,12904764,12250.2,Knox City CouncilMoreland City CouncilGlen Eir...
Noel,BalwynBlackburnBlackburnBlackburn NorthBlackbu...,4/40 Northcote Av28 Elmhurst Rd16 Peacedale Gr...,3447,uhhhhuhthhhuhhhhuthtthhhthhuhthhhhuhhhhhthhuhh...,9.618405e+08,SPISSPISPSSSSNSPSSSSSNSSSVBSVBVBSSPISVBSSSPSSP...,1/04/20171/04/20171/04/20171/04/20171/04/20171...,3328766,Southern MetropolitanEastern MetropolitanEaste...,6571572,14386.3,Boroondara City CouncilWhitehorse City Council...

In [22]:
df.groupby(['SellerG']).count().sort_values('Price', ascending= False).head(10)

# Count por preço

,Suburb,Address,Rooms,Type,Price,Method,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
SellerG,,,,,,,,,,,,
Barry,6894,6894,6894,6894,4818,6894,6894,6894,6894,6894,6894,6894
Jellis,5499,5499,5499,5499,4088,5499,5499,5499,5499,5499,5499,5499
Nelson,4739,4739,4739,4739,4008,4739,4739,4739,4739,4739,4739,4739
Ray,4554,4554,4554,4554,3653,4554,4554,4554,4554,4554,4554,4554
hockingstuart,4332,4332,4332,4332,3465,4332,4332,4332,4332,4332,4332,4332
Buxton,3357,3357,3357,3357,2580,3357,3357,3357,3357,3357,3357,3357
Marshall,2844,2844,2844,2844,1721,2844,2844,2844,2844,2844,2844,2844
Fletchers,1612,1612,1612,1612,1160,1612,1612,1612,1612,1612,1612,1612
Biggin,1535,1535,1535,1535,1022,1535,1535,1535,1535,1535,1535,1535
Harcourts,1211,1211,1211,1211,912,1211,1211,1211,1211,1211,1211,1211

In [24]:
df.groupby(['SellerG']).count().sort_values('Rooms', ascending= False).head(10)

# Count por quartos.

,Suburb,Address,Rooms,Type,Price,Method,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
SellerG,,,,,,,,,,,,
Barry,6894,6894,6894,6894,4818,6894,6894,6894,6894,6894,6894,6894
Jellis,5499,5499,5499,5499,4088,5499,5499,5499,5499,5499,5499,5499
Nelson,4739,4739,4739,4739,4008,4739,4739,4739,4739,4739,4739,4739
Ray,4554,4554,4554,4554,3653,4554,4554,4554,4554,4554,4554,4554
hockingstuart,4332,4332,4332,4332,3465,4332,4332,4332,4332,4332,4332,4332
Buxton,3357,3357,3357,3357,2580,3357,3357,3357,3357,3357,3357,3357
Marshall,2844,2844,2844,2844,1721,2844,2844,2844,2844,2844,2844,2844
Fletchers,1612,1612,1612,1612,1160,1612,1612,1612,1612,1612,1612,1612
Biggin,1535,1535,1535,1535,1022,1535,1535,1535,1535,1535,1535,1535
Harcourts,1211,1211,1211,1211,912,1211,1211,1211,1211,1211,1211,1211

In [25]:
df.groupby(['SellerG']).count()

,Suburb,Address,Rooms,Type,Price,Method,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
SellerG,,,,,,,,,,,,
@Realty,27,27,27,27,21,27,27,27,27,27,27,27
A,9,9,9,9,6,9,9,9,9,9,9,9
AIME,1,1,1,1,1,1,1,1,1,1,1,1
ASL,10,10,10,10,10,10,10,10,10,10,10,10
Abercromby's,68,68,68,68,42,68,68,68,68,68,68,68
...,...,...,...,...,...,...,...,...,...,...,...,...
iOne,1,1,1,1,1,1,1,1,1,1,1,1
iProperty,1,1,1,1,1,1,1,1,1,1,1,1
iSell,127,127,127,127,99,127,127,127,127,127,127,127
iTRAK,75,75,75,75,70,75,75,75,75,75,75,75
voglwalpole,4,4,4,4,2,4,4,4,4,4,4,4