for loop nested:

    outer loop
    inner loop

    Lista funcionalidades de um produto.

In [3]:
for numero1 in range(6):
    print(numero1)

0
1
2
3
4
5

In [4]:
for numero1 in range(5):
    print(numero1)
    for numero2 in range(5):
        print(numero2)

0
0
1
2
3
4
1
0
1
2
3
4
2
0
1
2
3
4
3
0
1
2
3
4
4
0
1
2
3
4

In [5]:
for numero1 in range(5):
    print(numero1)
    for numero2 in range(5):
        print(numero1, numero2)

0
0 0
0 1
0 2
0 3
0 4
1
1 0
1 1
1 2
1 3
1 4
2
2 0
2 1
2 2
2 3
2 4
3
3 0
3 1
3 2
3 3
3 4
4
4 0
4 1
4 2
4 3
4 4

In [6]:
for numero1 in range(1,6):
    print('Produto'+ str(numero1))
    for numero2 in range(5):
        print(numero1, numero2)

Produto1
1 0
1 1
1 2
1 3
1 4
Produto2
2 0
2 1
2 2
2 3
2 4
Produto3
3 0
3 1
3 2
3 3
3 4
Produto4
4 0
4 1
4 2
4 3
4 4
Produto5
5 0
5 1
5 2
5 3
5 4

In [7]:
for numero1 in range(1,11):
    print('Produto'+ str(numero1))
    for numero2 in range(6):
        print(numero1, numero2)

Produto1
1 0
1 1
1 2
1 3
1 4
1 5
Produto2
2 0
2 1
2 2
2 3
2 4
2 5
Produto3
3 0
3 1
3 2
3 3
3 4
3 5
Produto4
4 0
4 1
4 2
4 3
4 4
4 5
Produto5
5 0
5 1
5 2
5 3
5 4
5 5
Produto6
6 0
6 1
6 2
6 3
6 4
6 5
Produto7
7 0
7 1
7 2
7 3
7 4
7 5
Produto8
8 0
8 1
8 2
8 3
8 4
8 5
Produto9
9 0
9 1
9 2
9 3
9 4
9 5
Produto10
10 0
10 1
10 2
10 3
10 4
10 5