OPP = Python Object-Oriented Programming (Programação Orientada a Objetos)

Classes:
    Utilizadas para crir objetos (instances);
    Objetos são partes dentro de uma classe (instances);
    Classes são utilizadas para agrupar dados e funções podedendo reutilizar.

    Class: Frutas
    Objects: banana, maçã, uva........

In [2]:
nome =  'Francisco'
print(nome)
print(type(nome))

Francisco
<class 'str'>

In [3]:
nome =  'Francisco'
nome_lower = nome.lower()
print(nome_lower)

# . o ponto significa criar uma função.... '.lower()'

francisco

In [4]:
# Class primeira letra maiúscula.

class Funcionarios:
    nome = "Francisco"
    sobrenome = 'Lopes'
print(Funcionarios)

    # def
    # def
    # def
    # def

<class '__main__.Funcionarios'>

In [5]:

class Funcionarios:
    nome = "Francisco"
    sobrenome = 'Lopes'
usuario1 = Funcionarios() # Objeto
print(usuario1.nome)
print(usuario1.sobrenome)

Francisco
Lopes

In [6]:
class Funcionarios: # ---> Class
    nome = "Francisco"
    sobrenome = 'Lopes'
    data_nascimento  = '26/03/1970'
usuario1 = Funcionarios() #---> Objeto
print(usuario1.nome)
print(usuario1.sobrenome)
print(usuario1.data_nascimento)

Francisco
Lopes
26/03/1970

In [8]:
# Criar a classe
class Funcionarios: 
    pass

# Criar o objeto

usuario1 = Funcionarios()
usuario2 = Funcionarios()

# Criar parâmetros do usuario 1:

usuario1.nome = 'Francisco'
usuario1.sobrenome = 'Lopes'
usuario1.data_nascimento = '26/03/1970'
# Criar parâmetros do usuário 2:
usuario2.nome = 'Rebeca'
usuario2.sobrenome = 'Baltazar'
usuario2.data_nascimento = '28/01/1993'

# Print
print(usuario1.nome)
print(usuario2.nome)

Francisco
Rebeca

In [1]:
# Construtores reduz os parâmetros

# Criar a classe
class Funcionarios: 
    def __init__(self, nome, sobrenome, data_nascimento):
        self.nome = nome
        self.sobrenome = sobrenome
        self.data_nascimento = data_nascimento
       

# Criar o objeto

usuario1 = Funcionarios('Francisco', 'Lopes', '26/03/1970')
usuario2 = Funcionarios('Rebeca', 'Baltazar', '28/01/1993')

# Print
print(usuario1.nome)
print(usuario2.nome)

Francisco
Rebeca

In [4]:
# Construtores reduz os parâmetros

# Criar a classe
class Funcionarios: 
    def __init__(self, nome, sobrenome, data_nascimento):
        self.nome = nome
        self.sobrenome = sobrenome
        self.data_nascimento = data_nascimento
       

# Criar o objeto

usuario1 = Funcionarios('Francisco', 'Lopes', '26/03/1970')
usuario2 = Funcionarios('Rebeca', 'Baltazar', '28/01/1993')
usuario3 = Funcionarios('João', 'Silva', '14/11/1980')
# Print
print(usuario1.nome)
print(usuario2.nome)
print(usuario3.nome)

Francisco
Rebeca
João

In [6]:
# Construtores reduz os parâmetros

# Criar a classe
class Funcionarios: 
    def __init__(self, nome, sobrenome, data_nascimento):
        self.nome = nome
        self.sobrenome = sobrenome
        self.data_nascimento = data_nascimento
       

# Criar o objeto

usuario1 = Funcionarios('Francisco', 'Lopes', '26/03/1970')
usuario2 = Funcionarios('Rebeca', 'Baltazar', '28/01/1993')
usuario3 = Funcionarios('João', 'Silva', '14/11/1980')
# Print
print(usuario1.nome, usuario1.sobrenome)
print(usuario2.nome, usuario2.sobrenome)
print(usuario3.nome, usuario3.sobrenome)

Francisco Lopes
Rebeca Baltazar
João Silva

In [12]:
# Nome completo:

# Construtores reduz os parâmetros

# Criar a classe
class Funcionarios: 
    def __init__(self, nome, sobrenome, data_nascimento):
        self.nome = nome
        self.sobrenome = sobrenome
        self.data_nascimento = data_nascimento
    def nome_completo(self):
        return self.nome + ' ' + self.sobrenome  

# Criar o objeto

usuario1 = Funcionarios('Francisco', 'Lopes', '26/03/1970')
usuario2 = Funcionarios('Rebeca', 'Baltazar', '28/01/1993')
usuario3 = Funcionarios('João', 'Silva', '14/11/1980')
# Print duas formas:
print(usuario1.nome_completo ())
print(Funcionarios.nome_completo(usuario1))

Francisco Lopes
Francisco Lopes

In [16]:
# Nome completo:

# Construtores reduz os parâmetros

# Import Datetime:
from datetime import datetime
# Criar a classe
class Funcionarios: 
    def __init__(self, nome, sobrenome, ano_nascimento):
        self.nome = nome
        self.sobrenome = sobrenome
        self.data_nascimento = ano_nascimento
    def nome_completo(self):
        return self.nome + ' ' + self.sobrenome  
    def idade_funcionario(self):
        self.ano_nascimento = int(2024 - self.ano_nascimento)
# Criar o objeto

usuario1 = Funcionarios('Francisco', 'Lopes', 1970)
usuario2 = Funcionarios('Rebeca', 'Baltazar', 1993)
usuario3 = Funcionarios('João', 'Silva', 1980)
# Print:

print(Funcionarios.idade_funcionario(usuario1))

AttributeError: 'Funcionarios' object has no attribute 'ano_nascimento'