In [10]:
import pandas as pd

vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep=';')
vendas_df['ID Cliente']

0          6825
1         18469
2         19730
3         29326
4         22617
          ...
980637    10353
980638    31750
980639    12003
980640    25550
980641    28707
Name: ID Cliente, Length: 980642, dtype: int64

In [9]:
import pandas as pd

vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep=';')
vendas_df[:3]

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1

Novo DataFrame só com três colunas:

In [11]:
import pandas as pd

vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep=';')

vendas_df[['Numero da Venda', 'ID Loja', 'ID Cliente']]

        Numero da Venda  ID Loja  ID Cliente
0                     1       86        6825
1                     2      308       18469
2                     3      294       19730
3                     4      251       29326
4                     5       94       22617
...                 ...      ...         ...
980637           980638      194       10353
980638           980639       32       31750
980639           980640      210       12003
980640           980641       53       25550
980641           980642      309       28707

[980642 rows x 3 columns]

Item específico:

In [16]:
import pandas as pd

vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep=';')

vendas_df['ID Produto'][0]

981