For chave in dicion√°rio: 

'iphone' = chave.............

In [1]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

for chave in vendas_tecnologia:
    print(chave)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

Chave e valor:

In [8]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

for chave in vendas_tecnologia:
    print('{}: {} unidades.'.format(chave, vendas_tecnologia[chave]))

iphone: 15000 unidades.
samsung galaxy: 12000 unidades.
tv samsung: 10000 unidades.
ps5: 14300 unidades.
tablet: 1720 unidades.
ipad: 1000 unidades.
tv philco: 2500 unidades.
notebook hp: 1000 unidades.
notebook dell: 17000 unidades.
notebook asus: 2450 unidades.

In [14]:

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

total_notebook = 0
for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebook = total_notebook + vendas_tecnologia[chave]
print(total_notebook)

20450

In [1]:

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

total_notebook = 0
for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebook = total_notebook + vendas_tecnologia[chave]
print(total_notebook)

20450

In [2]:

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

total_notebook = 0
for chave in vendas_tecnologia:
    if 'iphone' in chave:
        total_notebook = total_notebook + vendas_tecnologia[chave]
print(total_notebook)

15000

In [3]:

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

total_notebook = 0
for chave in vendas_tecnologia:
    if 'samsung' in chave:
        total_notebook = total_notebook + vendas_tecnologia[chave]
print(total_notebook)

22000

In [4]:

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

total_notebook = 0
for chave in vendas_tecnologia:
    if 'ps5' in chave:
        total_notebook = total_notebook + vendas_tecnologia[chave]
print(total_notebook)

14300

In [5]:

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

total_notebook = 0
for chave in vendas_tecnologia:
    if 'tablet' in chave:
        total_notebook = total_notebook + vendas_tecnologia[chave]
print(total_notebook)

1720

In [6]:

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

total_notebook = 0
for chave in vendas_tecnologia:
    if 'tv' in chave:
        total_notebook = total_notebook + vendas_tecnologia[chave]
print(total_notebook)

12500

In [7]:

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

total_notebook = 0
for chave in vendas_tecnologia:
    if 'hp' in chave:
        total_notebook = total_notebook + vendas_tecnologia[chave]
print(total_notebook)

1000

In [8]:

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

total_notebook = 0
for chave in vendas_tecnologia:
    if 'dell' in chave:
        total_notebook = total_notebook + vendas_tecnologia[chave]
print(total_notebook)

17000