Métodos úteis em dicionários
   
    items() dos dicionários
   
Estrutura:

itens_dicionario = dicionario.items()
    
    ou então:
 
    for item in dicionario.items()
    cada item do dicionario em formato de tupla

In [2]:
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}

itens_dicionario = vendas_tecnologia.items()
print(itens_dicionario)

dict_items([('notebook asus', 2450), ('iphone', 15000), ('samsung galaxy', 12000), ('tv samsung', 10000), ('ps5', 14300), ('tablet', 1720), ('notebook dell', 17000), ('ipad', 1000), ('tv philco', 2500), ('notebook hp', 1000)])

In [7]:
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}

for item in vendas_tecnologia.items():
    print(item)

('notebook asus', 2450)
('iphone', 15000)
('samsung galaxy', 12000)
('tv samsung', 10000)
('ps5', 14300)
('tablet', 1720)
('notebook dell', 17000)
('ipad', 1000)
('tv philco', 2500)
('notebook hp', 1000)

In [8]:
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}

for produto, qtde in vendas_tecnologia.items():
    print('{}: {} unidades.'.format(produto, qtde))

notebook asus: 2450 unidades.
iphone: 15000 unidades.
samsung galaxy: 12000 unidades.
tv samsung: 10000 unidades.
ps5: 14300 unidades.
tablet: 1720 unidades.
notebook dell: 17000 unidades.
ipad: 1000 unidades.
tv philco: 2500 unidades.
notebook hp: 1000 unidades.

Quais produtos venderam mais de 5000 unidades?

In [9]:
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}

for chave in vendas_tecnologia:
    if vendas_tecnologia[chave] > 5000:
        print('{}: {} unidades.'.format(chave, vendas_tecnologia[chave]))

iphone: 15000 unidades.
samsung galaxy: 12000 unidades.
tv samsung: 10000 unidades.
ps5: 14300 unidades.
notebook dell: 17000 unidades.

Outra forma:

In [11]:
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}

for produto, qtde in vendas_tecnologia.items():
    if qtde > 5000:
        print('{}: {} unidades.'.format(produto, qtde))

iphone: 15000 unidades.
samsung galaxy: 12000 unidades.
tv samsung: 10000 unidades.
ps5: 14300 unidades.
notebook dell: 17000 unidades.

In [ ]:
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}

for produto, qtde in vendas_tecnologia.items():
    if qtde > 5000:
        print('{}: {} unidades.'.format(produto, qtde))