In [1]:
numeros = [1, 5]
print(numeros)

[1, 5]

In [2]:
numeros = [1,5]
for valor in numeros:
    print(valor)

1
5

Usando a função Range:

In [3]:
for valor in range(1,5):
    print(valor)

1
2
3
4

Para exibir os números de 1 a 5, devemos usar range(1,6):

In [5]:
for valor in range(1,6):
    print(valor)

1
2
3
4
5

In [6]:
for valor in range(6):
    print(valor)

0
1
2
3
4
5

In [9]:
for valor in range(2):
    print(valor)

0
1

Usando range() para criar uma lista de números:

In [10]:
numeros = list(range(1,6))
print(numeros)

[1, 2, 3, 4, 5]

No exemplo abaixo a função range() começa com o valor 2e, em seguida, soma 2 a esse valor. A função adiciona 2 repetidamente até atingir ou ultrapassar o valor final, 11, gerando o seguinte resultado [2, 4, 8, 10]

In [12]:
dez_numeros = list(range(2, 11, 2))
print(dez_numeros)

[2, 4, 6, 8, 10]

Lista dos dez primeiros numeros ao quadrado:

In [15]:
quadrados = []
for valor in range(1, 11):
    quadrado = valor ** 2
    quadrados.append(quadrado)

print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
potencias = []
for valor in range(1, 11):
    potencias.append(valor ** 2)

print(potencias)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
digitos = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digitos)
max(digitos)
sum(digitos)

45

In [21]:
digitos = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digitos)

0

In [22]:
digitos = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
max(digitos)

9

In [23]:
digitos = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
sum(digitos)

45

List Comprehensions:

In [24]:
quadrados = [valor**2 for valor in range(1,11)]
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
quadrados = [valor**2 for valor in range(11,20)]
print(quadrados)

[121, 144, 169, 196, 225, 256, 289, 324, 361]

In [2]:
quadrados = [valor**3 for valor in range(1,11)]
print(quadrados)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [3]:
quadrados = [valor**3 for valor in range(11,20)]
print(quadrados)

[1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [4]:
quadrados = [valor**4 for valor in range(1,11)]
print(quadrados)

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [5]:
quadrados = [valor**5 for valor in range(11,20)]
print(quadrados)

[161051, 248832, 371293, 537824, 759375, 1048576, 1419857, 1889568, 2476099]

In [1]:
quadrados = [valor**6 for valor in range(20, 31)]
print(quadrados)

[64000000, 85766121, 113379904, 148035889, 191102976, 244140625, 308915776, 387420489, 481890304, 594823321, 729000000]