In [2]:
produtos = ['arroz', 'feijao', 'macarrao', 'atum', 'azeite']
estoque = [50, 100, 20, 5, 80]

for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
produtos = ['arroz', 'feijao', 'macarrao', 'atum', 'azeite']
estoque = [50, 100, 20, 5, 80]
# Tamanho do Range:
for i in range(5):
    print('{}: {} unidades em estoque'.format(produtos[i], estoque[i]))

arroz: 50 unidades em estoque
feijao: 100 unidades em estoque
macarrao: 20 unidades em estoque
atum: 5 unidades em estoque
azeite: 80 unidades em estoque

In [ ]:
produtos = ['arroz', 'feijao', 'macarrao', 'atum', 'azeite']
estoque = [50, 100, 20, 5, 80]

for i in range(5):
    print('{}: {} unidades em estoque'.format(produtos[i], estoque[i]))

In [5]:

print(range(1,10))

range(1, 10)

In [6]:
# Range com início e fim:

for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
# Começa do primeiro e vai até o penúltimo. 
for i in range(3,22):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

Exemplo: Modelo Jack Welch da G&E

    1. Classe A: 10% melhor;
      2. Classe B: 80% mantém/busca melhorar;
      3. Classe C: 10% pior.

    "Quem são os funcionários classe B?"

In [9]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo']

vendas = [2750, 1900, 1500, 1200, 1111, 1100, 999, 900, 880, 870, 800, 800, 450, 400, 300, 300, 120, 90, 80, 70]

for i in range(3,18):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [15]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo']

vendas = [2750, 1900, 1500, 1200, 1111, 1100, 999, 900, 880, 870, 800, 800, 450, 400, 300, 300, 120, 90, 80, 70]

print('Funcionários classe B:')
for i in range(3,18):
    print(' {} fez: vendas {}'.format(funcionarios[i], vendas[i]))

Funcionários classe B:
 João fez: vendas 1200
 Francisco fez: vendas 1111
 Ana fez: vendas 1100
 Luiz fez: vendas 999
 Paulo fez: vendas 900
 Carlos fez: vendas 880
 Manoel fez: vendas 870
 Pedro fez: vendas 800
 Francisca fez: vendas 800
 Marcos fez: vendas 450
 Raimundo fez: vendas 400
 Sebastião fez: vendas 300
 Antônia fez: vendas 300
 Marcelo fez: vendas 120
 Jorge fez: vendas 90