In [5]:
meta = 10000
vendas = [
        ('João', 15000),
        ('Julia', 27000),
        ('Marcus', 9900),
        ('Maria', 3750),
        ('Ana', 10300),
        ('Alon', 7870),
    ]
for vendedor, qtde in vendas:
    if qtde>= meta:
        print('{} bateu a meta vendeu {} unidades.'.format(vendedor, qtde))

João bateu a meta vendeu 15000 unidades.
Julia bateu a meta vendeu 27000 unidades.
Ana bateu a meta vendeu 10300 unidades.