In [2]:
funcionários = ['Maria','José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo', 'Adriana', 'Sandra', 'Luis']
for funcionário in funcionários:
    print(funcionário)

Maria
José
Antônio
João
Francisco
Ana
Luiz
Paulo
Carlos
Manoel
Pedro
Francisca
Marcos
Raimundo
Sebastião
Antônia
Marcelo
Jorge
Márcia
Geraldo
Adriana
Sandra
Luis

In [2]:
funcionários = ['Maria','José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo', 'Adriana', 'Sandra', 'Luis']
for i, funcionários in enumerate(funcionários):
    print('{} é o funcionário {}.' .format(i, funcionários))

0 é o funcionário Maria.
1 é o funcionário José.
2 é o funcionário Antônio.
3 é o funcionário João.
4 é o funcionário Francisco.
5 é o funcionário Ana.
6 é o funcionário Luiz.
7 é o funcionário Paulo.
8 é o funcionário Carlos.
9 é o funcionário Manoel.
10 é o funcionário Pedro.
11 é o funcionário Francisca.
12 é o funcionário Marcos.
13 é o funcionário Raimundo.
14 é o funcionário Sebastião.
15 é o funcionário Antônia.
16 é o funcionário Marcelo.
17 é o funcionário Jorge.
18 é o funcionário Márcia.
19 é o funcionário Geraldo.
20 é o funcionário Adriana.
21 é o funcionário Sandra.
22 é o funcionário Luis.

In [18]:
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]

produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']

nível_mínimo = 50

for qtde in estoque:
    if qtde < nível_mínimo:
        print(qtde)

20
23